@model IEnumerable<TestTask_TI.Models.ApplicationUser>

@{
    ViewBag.Title = "GetUsers";
}

<h2>GetUsers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
    </tr>
}

</table>
